<header>
            <h1>Happy News</h1>
</header>
<nav>
    <ul>
        <li><a href="#"><p>Inicio</p></a></li>
        <li><a href="#"><p>Quienes Somos</p></a></li>
        <li><a href="#"><p>Contactenos</p></a></li>
    </ul>    
</nav>
<main >
    <section>
        <article>
            <img id="images1" src="https://via.placeholder.com/200x100.png?text=Noticia1" alt="Noticia1">
        </article>
        <article>
            <img id="images2" src="https://via.placeholder.com/200x100.png?text=Noticia2" alt="Noticia2">
        </article>
        <article>
            <img id="images3" src="https://via.placeholder.com/200x100.png?text=Noticia3" alt="Noticia3">
        </article>
        <article>
            <img id="images4" src="https://via.placeholder.com/200x100.png?text=Noticia4" alt="Noticia4">
        </article>
    </section>
    <section >
        <h2>
            "Noticia Destacada del día"
        </h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci deserunt repellendus numquam possimus. Ut aspernatur similique natus voluptates impedit molestiae, odio, unde minus non repellendus nesciunt consectetur asperiores saepe debitis!
        </p>        
    </section>
</main>
<footer>
    <div >
        <h6>
            CodeStudio 2022
        </h6>
    </div>
</footer>
